h1 {
    text-align: center;
    font-weight: normal;
    text-decoration:overline;
    line-height: 10px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(243, 38, 140);
}

p {
    font-weight: bold;
    letter-spacing: 2px;
}