.card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px;
    transition: 1s;
}

desc {
    padding: 2px;
}
img{
    width: 200px;
}

.card:hover{
    box-shadow: 2px 16px 18px red;
}